@charset "utf-8";
@import "./reset.css";

body {
    font-family: "Poppins", sans-serif;
    background-color: #ffffff;
    color: #222;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background-color: #fff5f7;
    border-bottom: 1px solid #e5e5e5;
}

header h1 {
    color: #ff385c;
    font-size: 3.4rem;
    font-weight: 700;
}

nav ul {
    display: flex;
    gap: 25px;
    list-style: none;
}

nav li {
    cursor: pointer;
    font-weight: 500;
}

nav li:hover {
    color: #ff385c;
}

.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.gallery {
    flex: 1;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    padding: 80px 20px;
    max-width: 800px;
    margin: 0 auto;
}

.banner h2 {
    font-size: 3.5rem;
    margin-bottom: 20px;
}

.banner p {
    font-size: 1.7rem;
    line-height: 1.6;
    margin-bottom: 30px;
    max-width: 600px;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.primary {
    background-color: #ff385c;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 12px 24px;
    cursor: pointer;
    font-size: 1.3rem;
}

.primary:hover {
    opacity: 0.9;
}

.secondary {
    background-color: transparent;
    color: #ff385c;
    border: 2px solid #ff385c;
    border-radius: 8px;
    padding: 12px 24px;
    cursor: pointer;
    font-size: 1.3rem;
}

.secondary:hover {
    background-color: #ff385c;
    color: white;
}


.gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 50px;
    flex-wrap: wrap;
}

.gallery img {
    width: 350px;
    height: 400px;
    object-fit: cover;
    border-radius: 12px;
    transition: transform 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.05);
}


footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 25px;
    margin-top: 40px;
}